body {
    font-family: Arial;
    margin: 0;
    background: #f4f4f4;
}

header {
    background: black;
    color: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
}

header a, header button {
    color: white;
    margin-left: 10px;
    text-decoration: none;
    background: #333;
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.container {
    padding: 40px;
}

.card {
    background: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

table {
    width: 100%;
    background: white;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
}

button {
    background: black;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

.modal {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    top: 0;
}

.modal-content {
    background: white;
    width: 400px;
    margin: 100px auto;
    padding: 30px;
    border-radius: 10px;
}

.close {
    float: right;
    cursor: pointer;
}